* {
  margin: 0;
  padding: 0;
}



html, body {
  font-family: 'Slabo 27px', serif;
  min-height: 100%;
  background-color: #E6E6E6;
}

p {
  margin-bottom: 35px;
}

.main-box {
  width: 75%;
  margin: 0 auto;
  height: 100%;
  background: #eee;
  color: #333;
}


.main-box .top-box {
  height: 70px;

  border-bottom-width: 2px;
  border-bottom-color: black;
  border-bottom-style: solid;
}

.main-box .left-box {
  float: left;
  height: 100%;
  width: 70%;
  padding: 50px;

  border-right-width: 2px;
  border-right-color: black;
  border-right-style: solid;
}

.left-box .main-title {

  font-family: 'Raleway', sans-serif;
  font-size: 60px;

  padding-bottom: 25px;
}

.center-box .main-title {

  font-family: 'Raleway', sans-serif;
  font-size: 60px;

  padding-bottom: 25px;
}

.right-box {
  width: 10%;
  display:  inline-block;
}

.right-box .logo {
  width: 190px;
  height: auto;

  display: block;
  margin: 52px auto 0 auto;
  transition: transform 1s ease-in-out;
}

.right-box .logo:hover {
  transform: rotate(720deg);
}

.main-box .bottom-box {
  height: 100px;
  clear: both;
  background: black;
}

.blog-post {

  margin-bottom: 35px;

  border-bottom-width: 2px;
  border-bottom-color: #999;
  border-bottom-style: solid;
}

.post-titles {
  margin-bottom: 2px;
}

a {
  text-decoration: underline;
  color: black;
}

a:hover {
  border-bottom: 1px;
  color: grey;
}

.navlist {
  margin: 25px auto 0 25px;
}

.nav{
    border:1px solid #ccc;
    border-width:1px 0;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
}
.nav li{
    display:inline;
}
.nav a{
    display:inline-block;
    padding:10px;
    color: white;
}

.top-box .crown2 {
    width: 250px;
    position: absolute;
    top: 7px;
    right: 210px;
}

.center-box {
  width: 75%;
  margin: 0 auto;
  height: 100%;
  background: #eee;
  color: #333;
}

.center-box .profile-pic {
  width: 200px;
  height: auto:auto;

  display: block;
  margin: 25px 25px 25px 25px;

}

.center-box .blog-post {

  margin-bottom: 35px;
  border-bottom-style: none;
}

.top-box .main-title {

  font-family: 'Raleway', sans-serif;
  font-size: 75px;
  position: absolute;
  margin-top: 0px;
  padding-bottom: 25px;
}

.top-box .half-crown-logo {
    width: 100px;
    height: auto;
    position: absolute;
    padding-top: 7px;
  }


.home-center-box .center-pic {
  width: 610px;
  height: auto;
  padding: 70px 25px 70px 25pc;
}
