* {
  margin: 0;
  padding: 0;
}



html, body {
  font-family: 'Slabo 27px', serif;
  min-height: 100%;
  background-color: #363636;
}

p {
  margin-bottom: 35px;
}

.main-box {
  width: 75%;
  margin: 0 auto;
  height: 100%;
  background: #eee;
  color: #333;
}


.main-box .top-box {
  height: 70px;

  border-bottom-width: 2px;
  border-bottom-color: black;
  border-bottom-style: dashed;
}

.main-box .left-box {
  float: left;
  height: 100%;
  width: 70%;
  padding: 50px;

  border-right-width: 2px;
  border-right-color: black;
  border-right-style: dashed;
}

.right-box {
  width: 22.5%;
  display:  inline-block;
}

.right-box .logo {
  width: 190px;
  height: auto;

  display: block;
  margin: 52px auto 0 auto;
  transition: transform 1s ease-in-out;
}

.right-box .logo:hover {
  transform: rotate(720deg);
}

.main-box .bottom-box {
  height: 100px;
  clear: both;
  background: black;
}

.blog-post {

  margin-bottom: 35px;

  border-bottom-width: 2px;
  border-bottom-color: #999;
  border-bottom-style: solid;
}

a {
  text-decoration: none;
}

a:hover {
  border-bottom: 1px dashed;
}

.navlist {
  margin: 25px auto 0 25px;
}